<nav class="navbar navbar-dark bg-primary">
  <div class="container justify-content-center">
    <span class="navbar-brand mb-0 h1">Angular Template Driven Form</span>
  </div>
</nav>
<div class="container mt-3">
  <form>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label for="account">帳號</label>
          <input type="email"
            class="form-control"
            id="account"
            name="account"
            pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b"
            [(ngModel)] = "account"
            required
          >
        </div>
        <div class="form-group">
          <label for="password">密碼</label>
          <input type="password"
            class="form-control"
            id="password"
            name="password"
            minlength="8"
            maxlength="16"
            [(ngModel)] = "password"
            required
          >
        </div>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <div class="mt-5">
    <p>帳號：{{ account }}</p>
    <p>密碼：{{ password }}</p>
  </div>
</div>
